<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|12","bottom":"var:preset|spacing|20"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group">
<!-- wp:heading {"level":1,"style":{"typography":{"fontSize":"var:preset|font-size|3xl","fontWeight":"800"},"spacing":{"margin":{"bottom":"var:preset|spacing|8"}}}} --><h1>Your Cart</h1><!-- /wp:heading -->
<!-- wp:woocommerce/cart /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
