<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|12","bottom":"var:preset|spacing|20"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group">
<!-- wp:woocommerce/store-notices /-->
<!-- wp:woocommerce/product-image-gallery /-->
<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
<!-- wp:post-title {"level":1,"style":{"typography":{"fontSize":"var:preset|font-size|4xl","fontWeight":"800"}}} /-->
<!-- wp:woocommerce/product-rating /-->
<!-- wp:woocommerce/product-price {"style":{"typography":{"fontSize":"var:preset|font-size|3xl","fontWeight":"700"},"color":{"text":"var:preset|color|primary"}}} /-->
<!-- wp:post-excerpt /-->
<!-- wp:woocommerce/add-to-cart-form /-->
<!-- wp:woocommerce/product-meta /-->
</div>
<!-- /wp:group -->
<!-- wp:separator {"style":{"spacing":{"margin":{"top":"var:preset|spacing|12","bottom":"var:preset|spacing|12"}}}} --><hr/><!-- /wp:separator -->
<!-- wp:post-content /-->
<!-- wp:woocommerce/product-reviews /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
